@import "../../../theme/styles/variables";

.filter__field-title{
  display: inline-block;
  padding-bottom: 6px;
  color: $Rectangle48;
  font-size: 18px;
  line-height: 25px;
  border-bottom: 1px solid transparent;
  border-image-source: linear-gradient(274.95deg, #BEBFC0 2.76%, #7D7E80 32.64%, #DDDEDF 60.28%, #646567 97.25%);
  border-image-slice: 1;
}
