@import "../../../../theme/styles/variables";
@import "../../../../theme/styles/mixins";

.about-us__main-feature-box {
  @include content-block;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  background: linear-gradient(to top, $Rectangle67 10%, transparent 90%);
}

.about-us__main-feature-image {
  height: 323px;

  &-box {
    width: 50%;
  }
}

.about-us__main-feature-text {
  margin-top: 30px;
  padding: 0 20px;
  font-size: 14px;
  line-height: 19px;
  text-align: justify;
  text-shadow: 1px 1px 1px $Rectangle67;

  &-box {
    height: 323px;
    background: #383841;
  }
}

@media screen and (min-width: $sm-size) and (max-width: 960px) {
  .about-us__main-feature-box {
    display: flex;
    flex-direction: column;
    width: 530px;
    height: 323px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .about-us__main-feature-image {
    width: 100%;

    &-box {
      width: 100%;
    }
  }

  .about-us__main-feature-text-box {
    position: relative;
    bottom: 323px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 323px;
    background: transparent;
  }
}

@media screen and (max-width: 640px) {
  .about-us__main-feature-text {
    margin: 5px 0;
    padding: 0 3px;
    font-size: 12px;
    line-height: 16px;
    text-align: justify;

    &-box {
      height: auto;
      background: transparent;
    }
  }
}