@import "../../../../theme/styles/variables";
@import "../../../../theme/styles/mixins";

.about-us__content-box {
  @include content-block;
  box-sizing: border-box;
}

.about-us__content-box-text p {
  margin: 5px 0;
  padding: 0 3px;
  font-size: 12px;
  line-height: 16px;
  text-align: justify;
}

@media screen and (min-width: $sm-size) {
  .about-us__content-box {
    width: 530px;
    height: 323px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .about-us__content-box-img img {
    width: 100%;
    height: 323px;
  }

  .about-us__content-box-text {
    position: relative;
    bottom: 323px;
    display: flex;
    flex-direction: column;
    height: 323px;
    background: linear-gradient(to top, $Rectangle67 10%, transparent 90%);
  }

  .about-us__content-box-text p {
    margin-top: 30px;
    padding: 0 20px;
    font-size: 14px;
    line-height: 19px;
    text-shadow: 1px 1px 1px $Rectangle67;
  }
}

@media screen and (min-width: $md-size) {
  .about-us__content-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .about-us__content-box-img {
    width: 50%;
  }

  .about-us__content-box-img img {
    height: 323px;
  }

  .about-us__content-box-text {
    position: relative;
    bottom: 0;
    width: 50%;
    height: 323px;
    background: #383841;
  }
}

@media screen and (min-width: $lg-size) {
}

@media screen and (min-width: $xl-size) {
}
