@import "../../theme/styles/variables";

.carouse-wrapper {
  padding-bottom: 116px;
  background: $Rectangle67;
}

.carousel-root {
  max-width: 1006px;
  margin: 52px auto 0 auto;
}

.carousel {
  &.carousel-slider .control-arrow:hover {
    background: inherit;
    cursor: inherit;
  }

  & .slide {
    background: none;
  }

  &.carousel-slider {
    margin: 0 auto;
    overflow: visible;
  }

  & .control-prev.control-arrow {
    left: -30px;
  }

  & .control-next.control-arrow {
    right: -30px;
  }

  &.carousel-slider .control-arrow {
    padding: 0;
  }

  & .control-arrow:before,
  &.carousel-slider .control-arrow:before {
    margin: 0;
  }

  & .control-prev.control-arrow:before {
    width: 18.75px;
    height: 18.75px;
    margin: 0;
    border-top: 2px solid $Rectangle48;
    border-right: 2px solid $Rectangle48;
    border-bottom: 0;
    transform: rotate(-135deg);
    cursor: pointer;
  }

  & .control-next.control-arrow:before {
    width: 18.75px;
    height: 18.75px;
    margin: 0;
    border-top: 2px solid $Rectangle48;
    border-right: 2px solid $Rectangle48;
    border-bottom: 0;
    border-left: 0;
    transform: rotate(45deg);
    cursor: pointer;
  }

  & .control-dots {
    position: inherit;
    margin-top: 16px;
    padding: 0;
  }

  & .control-dots .dot {
    width: 7px;
    height: 7px;
    margin: 0 35px;
    background: $Rectangle48;
  }
}
