@import "src/theme/styles/_variables";
@import "src/theme/styles/mixins";

.navbar,
.footer {
  &--item:hover &--link {
    opacity: 0.5;
    transition: 0.5s;
  }
  &--link {
    color: $Rectangle48;
    text-decoration: none;
  }
}
.navbar {
  &--item {
    margin: 0 auto;
  }
}

@media screen and (min-width: $sm-size) {
  .navbar {
    &--item:hover &--link {
      padding-bottom: 36px;
      border-bottom: 1px solid $Rectangle48;
    }
  }
}
@media screen and (max-width: 640px) {
  .navbar {
    &--item {
      margin: 0;
    }
  }
}
