@import "../../theme/styles/variables";
@import "../../theme/styles/mixins";


.servicePackages {

  background: linear-gradient(180deg, rgba(43, 47, 50, 1) 33%, rgba(43, 47, 49, 1) 67%);

  & ul {
    font: $content-font;
  }

  & h2 {
  padding-bottom: 80px;
  }

  & button {
    margin: 0 auto;
    display: block;
  }

  &__item-title {
    font: $headings-font;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 12px;

    &:after {
      width: 291px;
      content: '';
      display: block;
      height: 1px;
      margin-top: 13px;
      background: #C6D1DE;
      margin-left: 14px;
    }
  }

  &__name {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    padding-bottom: 12px;
    color: #C6D1DE;
  }

  &__currency {
    display: inline-block;
    font-style: normal;
    padding-right: 10px;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    color: #C6D1DE;
  }

  &__price {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    color: #C6D1DE;
  }

  &__wrapper {
    margin-top: 80px;
    display: flex;
    margin-right: 21px;
    flex-direction: row;
    justify-content: space-around;
    @include content-block;
  }

  &__item {
    width: 320px;
    background: linear-gradient(325.31deg, rgba(124, 125, 127, 0.1) -54.96%, rgba(190, 191, 192, 0.1) -39.28%, rgba(125, 126, 128, 0.1) -2.72%, rgba(221, 222, 223, 0.1) 44.09%, rgba(100, 101, 103, 0.1) 78.43%);
    border-radius: 3px;
    text-align: left;

    li {
      padding-left: 20px;
      color: #C6D1DE;
      padding-bottom: 15px;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      list-style-type: initial;

    }
  }

  &__serviceList {
    display: flex;
    flex-direction: column;
    padding-top: 22px;
    padding-bottom: 57px;
    padding-left: 67px;
  }

  &__description {
    text-align: center;
    padding-top: 48px;
    padding-bottom: 50px;
    color: #C6D1DE;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
  }
}


