@import "../../theme/styles/variables";
@import "../../theme/styles/mixins";

.service-packages {
  padding-bottom: 90px;
  background-color: $Rectangle67;

  & h2 {
    padding-bottom: 80px;
  }

  & button {
    display: block;
    margin: 0 auto;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 80px;
    margin-right: 21px;
    @include content-block;
  }

  &__description {
    padding: 50px 20px;
    color: #c6d1de;
    font-weight: normal;
    font-size: 18px;
    font-style: normal;
    line-height: 25px;
    text-align: center;
  }
}

@media screen and (min-width: $sm-size) and (max-width: 960px) {
  .servicePackages__description {
    padding: 35px 20px;
    font-size: 13px;
    line-height: 18px;
  }
}

@media screen and (max-width: 640px) {
  .servicePackages__description {
    padding: 28px 20px;
    font-size: 10px;
    line-height: 14px;
  }
}

//@media screen and (min-width: $sm-size) {
//}
//@media screen and (min-width: $sm-size) {
//}
