@import "../../theme/styles/variables";

.error-modal {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(151, 150, 162, 0.8);

  &__window {
    position: absolute;
    width: 50%;
    color: white;
    text-align: center;
    background-color: $Rectangle53;
    border-radius: 4px;
  }

  &__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 10px 30px;
    background-color: #d44637;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  &__btn {
    margin: 20px;
    font-size: 18px;
    background-color: $Rectangle65;
    border: 1px solid #d44637;
  }

  &__heading-text {
    font-size: 22px;
  }

  &__text {
    font-size: 16px;
  }
}
