@import "../../theme/styles/variables";

.error-modal {
  position: fixed;
  top: 40%;
  left: 30%;
  width: 40%;
  color: white;
  text-align: center;
  background-color: $Rectangle53;
  border-radius: 4px;

  &__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 10px 30px;
    background-color: #d44637;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  &__btn {
    margin: 20px;
    font-size: 18px;
    background-color: $Rectangle65;
    border: 1px solid #d44637;
  }

  &__heading-text {
    font-size: 22px;
  }

  &__text {
    font-size: 16px;
  }
}
