@import "src/theme/styles/variables";
@import "src/theme/styles/_mixins";

.blog-page {
  &__container {
    @include content-block();
    display: flex;
    flex-direction: column;
    padding: 40px 0 0 0;
  }
  &__header {
    font-size: 36px;

  }
  &__date {
    padding: 10px 0 40px;
    font-size: 14px;
  }

  &__side-line {
    margin: 20px 0;
    border-left: 2px solid rgba(255, 255, 255, 0.176);
  }

  &__text {
    &-content {
      max-width: 660px;
      margin: 0 auto;
    }
    &-paragraph {
      padding: 10px 0;
      font-size: 14px;
      line-height: 19px;
    }
  }
  &__text-paragraph, &__header, &__date {
    color: $palette-secondary;
    text-shadow: 1.5px 0.1px 2px $Rectangle52;
  }

  &__text-paragraph, &__header {
    text-align: justify;
  }

  &__button {
    display: block;
    margin: 30px auto 20px auto;
    padding: 12px 30px;
    color: $palette-secondary;
    font-weight: 600;
    font-size: 15px;
    background: transparent;
    border: 2px solid white;
    border-radius: 25px;
    outline: none;
    transition: 0.3s;
    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
      transform: scale(1.05);
    } 
  } 
}

