@import "../../../theme/styles/variables";

.feedback-form {
  position: fixed;
  top: 33%;
  right: 33%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 34%;
  height: 34%;
  margin: 0 auto;
  background-color: rgba(131, 149, 170, 1);
  border-radius: 3px;

  &__name-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 35px;
    color: #c6d1de;
    font-size: 13px;
  }

  &__phone-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    color: #c6d1de;
    font-size: 13px;
  }

  &__button-label {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  &__field {
    width: 40%;
    margin-top: 5px;
    background: rgba(185, 185, 193, 0.2);
    border-color: transparent;
    border-radius: 5px;
  }

  &__conf-button {
    color: #c6d1de;
    font-size: 12px;
    background-color: transparent;
    border: none;
  }

  &__exit-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #c6d1de;
    font-size: 20px;
    background-color: transparent;
    border: none;
  }

  &__conf-text1 {
    margin-top: 16%;
    margin-bottom: 15px;
    color: #c6d1de;
    font-size: 14px;
  }

  &__conf-text2 {
    margin: 0 5% 11% 5%;
    color: #c6d1de;
    font-size: 14px;
    text-align: center;
  }
}
