@import "src/theme/styles/variables";

.pagination-dots {
  position: fixed;
  top: 250px;
  left: 50px;
  z-index: 15;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
  height: 25vh;
}

@media screen and (min-width: $sm-size) and (max-width: 960px) {
  .pagination-dots {
    top: calc((100vh - 80px) / 2);
    left: 20px;
  }
}

@media screen and (max-width: 640px) {
  .pagination-dots {
    top: calc((100vh - 80px) / 2);
    left: 5px;
  }
}