@import "variables";

@mixin content-block {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

@mixin section-heading {
  font-weight: bold;
  font-size: 40px;
  font-family: $headings-font;
  font-style: normal;
  line-height: 52px;
  text-align: center;
}