//fonts
$inter-font: "Inter", "Arial", sans-serif;

//breakpoints
$xs-size: 321px;
$sm-size: 641px;
$md-size: 961px;
$lg-size: 1281px;
$xl-size: 1921px;

//colors
$Rectangle89: #E5E7E9;
$Rectangle89-shadow: rgba(0, 0, 0, 0.15);

$Rectangle82: #E5E7E9;
$Rectangle81: #E5E7E9;
$Rectangle80: #E5E7E9;
$Rectangle79: #E5E7E9;
$Rectangle78: #F1F1F3;
$Rectangle77: rgba(229, 231, 233, 0.05);

$Rectangle69: #E5E7E9;
$Rectangle68: #3B4653;
$Rectangle67: #282832;
$Rectangle66: #3D3C4A;
$Rectangle65: #515064;
$Rectangle64: #747382;

$Rectangle55: #A6B5C7;
$Rectangle54: #8395AA;
$Rectangle53: #708195;
$Rectangle52: #647589;
$Rectangle51: #DCDCE0;
$Rectangle50: #B9B9C1;
$Rectangle49: #9796A2;
$Rectangle48: #C6D1DE;

$Rectangle46: linear-gradient(274.95deg, #BEBFC0 2.76%, #7D7E80 32.64%, #DDDEDF 60.28%, #646567 97.25%);
$Rectangle45: linear-gradient(278.21deg, #BEBFC0 -147.54%, #7D7E80 4.82%, #DDDEDF 168.4%, #646567 373.33%);



