.App {
  background-image: url("../img//bg-img//main-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}


@media screen and (max-width: 640px) {
  .App {
    background-position: left;
  }
}
