@import "src/theme/styles/_mixins";
@import "src/theme/styles/_variables";

.header {
  &__bg {
    &-minor,
    &-main {
      padding-top: 20px;
    }
    &-minor {
      background-color: $Rectangle66;
    }
  }
  &__container {
    @include content-block();
    max-width: 1350px;
  }
}
