@import "src/theme/styles/_variables";

.navbar,
.footer {
  display: flex;
  font-size: 14px;
}

.navbar {
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  &__block {
    position: relative;
    display: grid;
    grid-template-columns: 40% 20% 40%;
  }
}

.footer {
  flex-direction: column;
  justify-content: space-between;
  &--left-side {
    align-items: flex-start;
  }
  &--right-side {
    align-items: flex-end;
    text-align: right;
  }
}

@media screen and (min-width: 769px) and (max-width: 960px) {
  .navbar {
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 15px 20px;
    font-size: 24px;
    background-color: $Rectangle67;
    border-radius: 5px;
    &__window {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100vh;
      background-color: #51515539;
      &::before, &::after {
        position: absolute;
        top: 15%;
        right: 10%;
        width: 28px;
        padding: 1px 0;
        background: $Rectangle45;
        content: "";
      }
      &::before {
        transform: rotate(45deg);
      }
      &::after {
        transform: rotate(135deg);
      } 
    }
    &__block {
      grid-template-columns: 1fr;
    }
  }
}

@media screen and (max-width: 640px) {
  .navbar {
    &__window {
      &::before, &::after {
        top: 8%;
      }
    }
  }
}